.navMenu{
padding: 10px 20px;

position: fixed;
z-index: 110;
right: 0;
}
.navMenu > span{
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
}
.navMenu > span:not(:last-child){
    margin-bottom: 7px;
}
.navMenu.active > span:not(:last-child){
    margin-bottom: 7px;
}
.navMenu > span{
    transition: all .4s ease;
}
.navMenu.active {
    transition: all ease .4s;
    transition-delay: .8s;
    transform: rotate(45deg);
}
.navMenu.active > span{
    width: 20px;
}
.navMenu.active > span:nth-child(2){
    transition: all ease .4s;
    width: 0;
    
}
.navMenu.active > span:nth-child(1),
.navMenu.active > span:nth-child(3){
    transition-delay: .4s;
}

.navMenu.active >span:nth-child(1){
    transform: translateY(9px);
}

.navMenu.active > span:nth-child(3){
    
    transform: translateY(-9px) rotate(90deg);
}
@media (max-width:375px) {
    .navMenu{
        padding: 14px 10px;
    }
    .navMenu span{
        width: 15px;
    }
    
    .navMenu > span:not(:last-child){
        margin-bottom: 3px;
    }
}